<%= form_for(@aggregation) do |f| %>
  <% if @aggregation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aggregation.errors.count, "error") %> prohibited this aggregation from being saved:</h2>

      <ul>
      <% @aggregation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :aggregation_type %><br>
    <%= f.text_field :aggregation_type %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br>
    <%= f.text_field :file_path %>
  </div>
  <div class="field">
    <%= f.label :query %><br>
    <%= f.text_field :query %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :workflow_id %><br>
    <%= f.text_field :workflow_id %>
  </div>
  <div class="field">
    <%= f.label :correlation_ids %><br>
    <%= f.text_field :correlation_ids %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
